<launch>

    <!-- ========================================================== -->
    <!-- Launch the camera.                                         -->
    <!-- ========================================================== -->

    <node name="camera"           pkg="camera1394"  type="camera1394_node" />
  
</launch>
