<launch>
	<!-- ========================================================== -->
	<!-- Launch everything needed for Kinefly, except the           -->
    <!-- source image streams.                                      -->
	<!-- ========================================================== -->

    <include file="$(find Kinefly)/launch/$(env RIG)/params_stimulus.launch" />

    <include file="$(find Kinefly)/launch/$(env RIG)/params_kinefly.launch"                   ns="kinefly_flappy" />
    <node name="kinefly_flappy"             pkg="Kinefly"   type="kinefly.py"                                      required="true" />
    <node name="flystate2phidgetsanalog"    pkg="Kinefly"   type="flystate2phidgetsanalog.py" ns="kinefly_flappy" />

    


</launch>
