<launch>
	<!-- ========================================================== -->
	<!-- Launch everything needed for Kinefly, except the           -->
    <!-- source image streams.                                      -->
	<!-- ========================================================== -->

    <include file="$(find Kinefly)/launch/$(env RIG)/params_stimulus.launch" />

    <include file="$(find Kinefly)/launch/$(env RIG)/params_kinefly_1.launch"               ns="kinefly1_phys" />
    <include file="$(find Kinefly)/launch/$(env RIG)/params_kinefly_2.launch"               ns="kinefly2_phys" />
    <include file="$(find Kinefly)/launch/$(env RIG)/params_kinefly_3.launch"               ns="kinefly3_phys" />

    <include file="$(find Kinefly)/launch/$(env RIG)/params_ledpanels_1.launch"             ns="kinefly1_phys" />
    <include file="$(find Kinefly)/launch/$(env RIG)/params_ledpanels_2.launch"             ns="kinefly2_phys" />
    <include file="$(find Kinefly)/launch/$(env RIG)/params_ledpanels_3.launch"             ns="kinefly3_phys" />

    <include file="$(find Kinefly)/launch/$(env RIG)/params_phidgetsanalog_1.launch"        ns="kinefly1_phys" />
    <include file="$(find Kinefly)/launch/$(env RIG)/params_phidgetsanalog_2.launch"        ns="kinefly2_phys" />
    <include file="$(find Kinefly)/launch/$(env RIG)/params_phidgetsanalog_3.launch"        ns="kinefly3_phys" />


    <node name="flystate2phidgetsanalog"  pkg="Kinefly"   type="flystate2phidgetsanalog.py" ns="kinefly1_phys" />
    <node name="flystate2phidgetsanalog"  pkg="Kinefly"   type="flystate2phidgetsanalog.py" ns="kinefly2_phys"  />
    <node name="flystate2phidgetsanalog"  pkg="Kinefly"   type="flystate2phidgetsanalog.py" ns="kinefly3_phys"  />

    <node name="kinefly1_phys"            pkg="Kinefly"   type="kinefly.py"                                   required="true" />
    <node name="kinefly2_phys"            pkg="Kinefly"   type="kinefly.py"                                   required="true" />
    <node name="kinefly3_phys"            pkg="Kinefly"   type="kinefly.py"                                   required="true" />

    


</launch>
