<launch>

    <!-- ========================================================== -->
    <!-- Launch the camera.                                         -->
    <!-- ========================================================== -->

    <param name="camera1/image_raw/compressed/format"       type="string" value="jpeg" />
    <param name="camera1/image_raw/compressed/jpeg_quality" type="int"    value="50" />

    <node name="camera1"        pkg="camera_aravis"  type="camnode" />
<!--
    <node name="image_proc1"    pkg="image_proc"     type="image_proc" ns="camera1" />
-->
  
</launch>
