<launch>
	<!-- ========================================================== -->
	<!-- Source images for Kinefly.                                 -->
	<!-- ========================================================== -->
    <param name="use_sim_time"                 type="bool" value="false"/>


    <include file="$(find Kinefly)/launch/pintether/camera_ethernet_1.launch" />
    <include file="$(find Kinefly)/launch/pintether/camera_ethernet_2.launch" />
    <include file="$(find Kinefly)/launch/pintether/camera_ethernet_3.launch" />

    <include file="$(find Kinefly)/launch/pintether/params_camera_1.launch"                 ns="camera1" />
    <include file="$(find Kinefly)/launch/pintether/params_camera_2.launch"                 ns="camera2" />
    <include file="$(find Kinefly)/launch/pintether/params_camera_3.launch"                 ns="camera3" />


    <!-- Acquire and publish the voltage signals from hardware. --> 
    <node name="interfacekit"             pkg="phidgets"  type="phidgets_interfacekit.py"   ns="stimulus"     required="true" />
    <node name="acquirevoltages2msg"      pkg="Kinefly"   type="acquirevoltages2msg.py"     ns="stimulus"     required="true" />


</launch>
