<launch>

    <!-- ========================================================== -->
    <!-- Launch the camera.                                         -->
    <!-- ========================================================== -->

    <node name="camera3"          pkg="camera_aravis"  type="camnode" />
<!--
    <node name="image_proc3"       pkg="image_proc"  type="image_proc" ns="camera3" />
-->
  
</launch>
