<launch>
	<!-- ========================================================== -->
	<!-- Launch everything needed for Kinefly.                      -->
	<!-- ========================================================== -->


    <include file="$(find Kinefly)/launch/params_kinefly_1.launch" />

    <include file="$(find Kinefly)/launch/params_camera_1.launch"   ns="camera1" />
    <include file="$(find Kinefly)/launch/camera_ethernet_1.launch" />

    <node name="kinefly1" pkg="Kinefly" type="kinefly.py"  required="true"      />

</launch>
