<launch>
	<!-- ========================================================== -->
	<!-- Launch everything needed for Kinefly.                      -->
	<!-- ========================================================== -->


    <include file="$(find Kinefly)/launch/main_ethernet_2.launch" />
    
</launch>
