<launch>
	<!-- ========================================================== -->
	<!-- Launch everything needed for Kinefly.                      -->
	<!-- ========================================================== -->


    <include file="$(find Kinefly)/launch/params_kinefly_1.launch" ns="kinefly1" />

    <include file="$(find Kinefly)/launch/params_camera_1.launch"   ns="camera1" />
    <include file="$(find Kinefly)/launch/camera_ethernet_1.launch" />

    <node name="kinefly1" pkg="Kinefly" type="kinefly.py"  required="true"      />
    <node name="flystate2phidgetsanalog"  pkg="Kinefly"   type="flystate2phidgetsanalog.py" ns="kinefly1"  />


</launch>
