<launch>
	<!-- ========================================================== -->
	<!-- Configuration of the Kinefly                          -->
	<!-- ========================================================== -->


    <rosparam file="$(env HOME)/kinefly.yaml" ns="kinefly" />
    <param name="kinefly/parameterfile" type="string" value="$(env HOME)/kinefly.yaml" />
</launch>
