<launch>
	<!-- ========================================================== -->
	<!-- Launch everything needed for Kinefly.                      -->
	<!-- ========================================================== -->


    <include file="$(find Kinefly)/launch/params_kinefly_1.launch" />

    <param name="use_sim_time" type="bool" value="false"/>
    <node name="playbag" pkg="rosbag" type="play" args="--clock --delay=1 --rate=1.0 --loop /home/ssafarik/camera1_top.bag" required="true" />

    <node name="kinefly1" pkg="Kinefly" type="kinefly.py"  required="true"      />
    
</launch>
