<launch>
	<!-- ========================================================== -->
	<!-- Record image streams.                                      -->
	<!-- ========================================================== -->

    <arg name="name" default="" />
    
    <node name="rosbag"  pkg="rosbag"   type="record" args="-j -o $(env HOME)/bagfiles/$(arg name) /camera1/image_raw/compressed /camera2/image_raw/compressed /camera3/image_raw/compressed /stimulus/ai"  />


</launch>
